.chats-nav {
  position: relative;
  min-width: 240px;
  height: 100%;
  padding-top: 12px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: var(--pop1);
  display: flex;
  flex-direction: column;
  align-items: center;

  .friends-icon {
    fill: var(--text);
    width: 24px;
    height: 24px;
  }

  .btn-friends {
    width: 100%;
    height: 42px;
    display: flex;
    gap: 14px;
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;
    transition: 0.15s ease-in;
    background-color: transparent;

    &:hover {
      // background-color: var(--pop2);
      filter: brightness(0.8);
      background-color: var(--accent);
    }

    &.selected {
      background-color: var(--accent);
    }

    // &.hovered {

    // }
  }

  .text-chat-toggle-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    width: 100%;
    filter: brightness(0.8);

    svg {
      height: 13px;
      width: 13px;
      fill: var(--text);
    }

    .plus-icon {
      filter: brightness(0.8);

      &:hover {
        filter: brightness(1);
      }
    }

    .left {
      display: flex;
      align-items: center;
      gap: 5px;
      // filter: brightness(0.8);

      // &:hover {
      //     filter: brightness(1);
      // }
    }

    &:hover {
      filter: brightness(1);
    }
  }

  .nav-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .nav-preview {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      border-radius: 4px;
      cursor: pointer;
      filter: brightness(0.7);

      svg {
        width: 20px;
        height: 20px;
        fill: var(--text);
        // stroke: var(--text);
      }

      .left {
        display: flex;
        align-items: center;
        gap: 6px;
      }

      .right {
        opacity: 0;
        display: flex;
        align-items: center;
        gap: 4px;

        .svg-1 {
          filter: brightness(0.7);

          &:hover {
            filter: brightness(1);
          }
        }

        .svg-2 {
          filter: brightness(0.7);

          &:hover {
            filter: brightness(1);
          }
        }
      }

      &:hover .right {
        opacity: 1;
      }

      &:hover {
        filter: brightness(1);
        background-color: rgba(221, 221, 221, 0.274);
      }

      &.selected {
        filter: brightness(1);
        background-color: rgba(221, 221, 221, 0.274);

        & .right {
          opacity: 1;
        }
      }
    }
  }

  .profile-preview {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 53px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--secondary-lighter);
    padding: 8px;

    &:hover {
      transition: 0.2s ease-in-out;
      cursor: pointer;
      background-color: rgba(221, 221, 221, 0.274);
    }

    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: var(--primary-lighter);

      .profile-pic {
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      line-height: 20px;
      small {
        line-height: 5px;
      }

      .bottom {
        opacity: 0.5;
      }
    }
  }
}
