.channels-nav {
    width: 75px;
    height: 100%;
    padding-top: 12px;
    background-color: var(--pop);

    .nav-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .channels-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .nav-preview {
                width: 100%;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .selected {
                background-color: var(--accent);
                border-radius: 16px;

                svg {
                    fill: var(--text);
                }
            }

            .hovered {

            }
        }

        .nav-btn-hover {
            border-radius: 50%;
            height: 48px;
            width: 48px;
            user-select: none;
            transition: 0.15s ease-in;
            color: var(--text);
            background-color: var(--secondary);
            font-size: 20px;
            font-weight: 700;

            svg {
                transition: 0.15s ease-in;
                width: 30px;
                height: 30px;
                fill: var(--accent);
            }

            &:hover {
                background-color: var(--accent);
                border-radius: 16px;

                svg {
                    fill: var(--text);
                }
            }
        }

        .select-indicator {
            width: 8px;
            position: absolute;
            left: 0;
            height: 10px;
            background-color: var(--text);
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;

            .hovered {
                height: 20px;
            }

            .selected {
                height: 100%;
            }
        }

        .add-channel-container {
            padding: 0;
            width: 100%;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;

            .add-channel-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--secondary);
            }

        }

    }
}