* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #878787 #d9d9d9;

    /* Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
        width: 8px;
        cursor: pointer;
    }

    &::-webkit-scrollbar-track {
        background: #d9d9d9;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background-color: #a6a5a5;
        cursor: pointer;
    }
}

html,
body,
.app,
#root {
    width: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    // scroll-behavior: none;
    background-color: var(--background);
    font-family: 'Poppins';
    font-weight: 400;
}

h1 {
    font-size: 4.210rem;
    /* 67.36px */
}

h2 {
    font-size: 3.158rem;
    /* 50.56px */
}

h3 {
    font-size: 2.369rem;
    /* 37.92px */
}

h4 {
    font-size: 1.777rem;
    /* 28.48px */
}

h5 {
    font-size: 1.333rem;
    /* 21.28px */
}

small {
    font-size: 0.750rem;
    /* 12px */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: var(--text);
    font-family: 'Poppins';
    font-weight: 700;
}

ul {
    padding: 0;
    margin: 0;

    li {
        padding: 0;
        margin: 0;
    }
}

section {
    color: var(--text);
}

p {
    color: var(--text);
    margin: 0;
}

.flex {
    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.row {
        flex-direction: row;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.space-evenly {
        justify-content: space-evenly;
    }
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}