.btn1 {
    color: var(--text);
    background-color: var(--primary);
    font-family: 'Poppins';
    border-radius: 4px;
}

.btn2 {
    color: var(--text);
    background-color: var(--secondary);
    font-family: 'Poppins';
    border-radius: 4px;
}