.flex {
    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.row {
        flex-direction: row;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.space-evenly {
        justify-content: space-evenly;
    }
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn1 {
    color: var(--background);
    background-color: var(--primary);
    font-family: 'Poppins';
    font-size: 1rem;
    border-radius: 4px;
    font-weight: 500;
}

.btn2 {
    color: var(--text);
    background-color: var(--secondary);
    font-family: 'Poppins';
    font-size: 1rem;
    border-radius: 4px;
    font-weight: 500;
}

.red {
    color: red;
    filter: opacity(0.8);
}