:root {
    --text: #faf5f6;
    --background: #180b0d;
    --primary: #cc8f9a;
    --secondary: #462027;
    --accent: #bf7381;
    --pop: #1F1315;
    --outline: #d3d3d3;
    --pop1: #2d1d21;
    --mood:rgba(0, 0, 0, 0.507);
}