.message-preview {
    display: flex;
    // margin-top: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 20px;

    &:hover {
        background-color: var(--background-lighter);
    }

    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--accent-lighter);
        border-radius: 50%;
        width: 50px;

        h4 {
        }
    }

    .right {
        display: flex;
        flex-direction: column;

        .top {
            display: flex;
            gap: 10px;
            align-items: center;

            p {

            }

            small {
                filter: brightness(0.7);
            }
        }

        .message-txt {
            font-weight: 100;
            filter: brightness(0.85);
        }

    }
}