.message-preview {
    display: flex;

    // margin-top: 15px;
    // margin-top: 10px;
    

    

    

    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--accent-lighter);
        border-radius: 50%;
        width: 50px;

        h4 {}
    }

    .first-preview {
        display: flex;
        gap: 20px;
        margin-top: 35px;
        width: 100%;

        &:hover {
            background-color: var(--background-lighter);
        }
        padding-left: 20px;
    }

    .right {
        display: flex;
        flex-direction: column;

        .top {
            display: flex;
            gap: 10px;
            align-items: center;

            p {}

            small {
                filter: brightness(0.7);
            }
        }

        .message-txt {
            font-weight: 100;
            filter: brightness(0.85);
        }

        
    }
    
    .right-continue {
        display: flex;
        flex-direction: column;
        width: 100%;

        &:hover {
            background-color: var(--background-lighter);
        }

        .message-txt-continue {
            width: 100%;
            padding-left: 90px;
            font-weight: 100;
            filter: brightness(0.85);
        }
    }
}